# MONGODB 
   Used for unstructured data

#### Here we will perform basic CRUD operations

In [1]:
# Installing required package for python-mongodb connection
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.5.0-cp39-cp39-win_amd64.whl (468 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0

In [2]:
from pymongo import MongoClient

In [3]:
conn=MongoClient()

In [5]:
# Creating the Journel/Database
journel=conn["College"]

In [6]:
# Creating the Collection/Table 
collection=journel["student"]

### Inserting documents/row into collection

In [7]:
collection.insert_one({'_id':1,'name':'Ankit','program':'Mca','age':23})

In [8]:
collection.insert_one({'_id':2,'name':'Piyush','program':'Mca','age':22})

In [9]:
collection.insert_one({'_id':3,'name':'Mohit','program':'Mba','age':20})

In [11]:
collection.insert_one({'_id':4,'name':'Jayant','program':'Mca','age':22,'class':'1st year'})

In [12]:
collection.insert_one({'_id':5,'name':'Anuj','program':'Mca','age':22,'class':'1st year','city':'Greater noida'})

### Reading the data from collection

In [27]:
print(*list(collection.find()),sep="\n")

{'_id': 1, 'name': 'Ankit', 'program': 'Mca', 'age': 23}
{'_id': 2, 'name': 'Piyush', 'program': 'Mca', 'age': 22}
{'_id': 3, 'name': 'Mohit', 'program': 'Mba', 'age': 20}
{'_id': 4, 'name': 'Jayant', 'program': 'Mca', 'age': 22, 'class': '1st year'}
{'_id': 5, 'name': 'Anuj', 'program': 'Mca', 'age': 22, 'class': '1st year', 'city': 'Greater noida'}

In [23]:
list(collection.find({'class':{'$exists':True}}))

[{'_id': 4,
  'name': 'Jayant',
  'program': 'Mca',
  'age': 22,
  'class': '1st year'},
 {'_id': 5,
  'name': 'Anuj',
  'program': 'Mca',
  'age': 22,
  'class': '1st year',
  'city': 'Greater noida'}]

In [29]:
list(collection.find({'class':{'$exists':False}}))

[{'_id': 1, 'name': 'Ankit', 'program': 'Mca', 'age': 23},
 {'_id': 2, 'name': 'Piyush', 'program': 'Mca', 'age': 22},
 {'_id': 3, 'name': 'Mohit', 'program': 'Mba', 'age': 20}]

In [30]:
list(collection.find({'name':{'$eq':'Ankit'}}))

[{'_id': 1, 'name': 'Ankit', 'program': 'Mca', 'age': 23}]

In [31]:
list(collection.find({'age':{'$eq':22}}))

[{'_id': 2, 'name': 'Piyush', 'program': 'Mca', 'age': 22},
 {'_id': 4,
  'name': 'Jayant',
  'program': 'Mca',
  'age': 22,
  'class': '1st year'},
 {'_id': 5,
  'name': 'Anuj',
  'program': 'Mca',
  'age': 22,
  'class': '1st year',
  'city': 'Greater noida'}]

In [32]:
list(collection.find({'class':{'$exists':True},'age':22}))

[{'_id': 4,
  'name': 'Jayant',
  'program': 'Mca',
  'age': 22,
  'class': '1st year'},
 {'_id': 5,
  'name': 'Anuj',
  'program': 'Mca',
  'age': 22,
  'class': '1st year',
  'city': 'Greater noida'}]

### Updating the documents

In [34]:
collection.update_many({},{"$set":{'college':'GNIOT'}})

In [36]:
print(*list(collection.find()),sep="\n\n")

{'_id': 1, 'name': 'Ankit', 'program': 'Mca', 'age': 23, 'college': 'GNIOT'}

{'_id': 2, 'name': 'Piyush', 'program': 'Mca', 'age': 22, 'college': 'GNIOT'}

{'_id': 3, 'name': 'Mohit', 'program': 'Mba', 'age': 20, 'college': 'GNIOT'}

{'_id': 4, 'name': 'Jayant', 'program': 'Mca', 'age': 22, 'class': '1st year', 'college': 'GNIOT'}

{'_id': 5, 'name': 'Anuj', 'program': 'Mca', 'age': 22, 'class': '1st year', 'city': 'Greater noida', 'college': 'GNIOT'}

In [39]:
collection.update_many({'city':{'$eq':'Greater noida'}},{"$set":{'state':'UP'}})

In [40]:
print(*list(collection.find()),sep="\n\n")

{'_id': 1, 'name': 'Ankit', 'program': 'Mca', 'age': 23, 'college': 'GNIOT'}

{'_id': 2, 'name': 'Piyush', 'program': 'Mca', 'age': 22, 'college': 'GNIOT'}

{'_id': 3, 'name': 'Mohit', 'program': 'Mba', 'age': 20, 'college': 'GNIOT'}

{'_id': 4, 'name': 'Jayant', 'program': 'Mca', 'age': 22, 'class': '1st year', 'college': 'GNIOT'}

{'_id': 5, 'name': 'Anuj', 'program': 'Mca', 'age': 22, 'class': '1st year', 'city': 'Greater noida', 'college': 'GNIOT', 'state': 'UP'}

In [41]:
collection.update_many({'age':{'$gt':22}},{"$unset":{'college':False}})

In [42]:
print(*list(collection.find()),sep="\n\n")

{'_id': 1, 'name': 'Ankit', 'program': 'Mca', 'age': 23}

{'_id': 2, 'name': 'Piyush', 'program': 'Mca', 'age': 22, 'college': 'GNIOT'}

{'_id': 3, 'name': 'Mohit', 'program': 'Mba', 'age': 20, 'college': 'GNIOT'}

{'_id': 4, 'name': 'Jayant', 'program': 'Mca', 'age': 22, 'class': '1st year', 'college': 'GNIOT'}

{'_id': 5, 'name': 'Anuj', 'program': 'Mca', 'age': 22, 'class': '1st year', 'city': 'Greater noida', 'college': 'GNIOT', 'state': 'UP'}

In [43]:
collection.update_many({'_id':{'$eq':4}},{"$unset":{'college':True}})

In [44]:
print(*list(collection.find()),sep="\n\n")

{'_id': 1, 'name': 'Ankit', 'program': 'Mca', 'age': 23}

{'_id': 2, 'name': 'Piyush', 'program': 'Mca', 'age': 22, 'college': 'GNIOT'}

{'_id': 3, 'name': 'Mohit', 'program': 'Mba', 'age': 20, 'college': 'GNIOT'}

{'_id': 4, 'name': 'Jayant', 'program': 'Mca', 'age': 22, 'class': '1st year'}

{'_id': 5, 'name': 'Anuj', 'program': 'Mca', 'age': 22, 'class': '1st year', 'city': 'Greater noida', 'college': 'GNIOT', 'state': 'UP'}

### Deletion operation

In [45]:
collection.delete_one({'state':'UP'})

In [46]:
print(*list(collection.find()),sep="\n\n")

{'_id': 1, 'name': 'Ankit', 'program': 'Mca', 'age': 23}

{'_id': 2, 'name': 'Piyush', 'program': 'Mca', 'age': 22, 'college': 'GNIOT'}

{'_id': 3, 'name': 'Mohit', 'program': 'Mba', 'age': 20, 'college': 'GNIOT'}

{'_id': 4, 'name': 'Jayant', 'program': 'Mca', 'age': 22, 'class': '1st year'}

In [47]:
#To delete all the documents

In [49]:
collection.delete_many({})

In [51]:
print(list(collection.find()),sep="\n\n")

[]